<h2 id="core">Core</h2>
<article id="$()">
  <%= partial "api/core/$"%>
</article>

<article id="$.extend()">
  <%= partial "api/core/extend"%>
</article>

<article id="$.sequence()">
  <%= partial "api/core/sequence"%>
</article>

<article id="$.getType()">
  <%= partial "api/core/getType"%>
</article>

<article id="$.isString()">
  <%= partial "api/core/isString"%>
</article>

<article id="$.isDefined()">
  <%= partial "api/core/isDefined"%>
</article>
